# Виртуальное окружение
venv/

# Django статические файлы
staticfiles/
media/

# Базы данных
db.sqlite3

# Конфиденциальные файлы
.env

# Кеш и временные файлы
__pycache__/
*.pyc
*.pyo
*.log
*.pot

# Системные каталоги
.DS_Store
.idea/
.vscode/
